<!--=====HEADER START=======-->
<header>
  <div class="header-area homepage1 header header-sticky d-none d-lg-block" id="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-elements">
            <div class="site-logo">
              <a href="index"><img src="/img/logo/logo1.png" alt=""></a>
            </div>
              <div class="main-menu">
                <ul>
                  <li><a href="index">Home</a></li>

                  <li><a href="about">About</a></li>

                  <li><a href="products">Products</a></li>

                  <li><a href="#">Pages <i class="fa-solid fa-angle-down"></i></a>
                    <ul class="dropdown-padding">
                      <li><a href="case">Case Study One</a></li>
                      <li><a href="case-left">Case Study Left</a></li>
                      <li><a href="case-right">Case Study Right</a></li>
                      <li><a href="case-single">Case Study Single</a></li>
                      <li><a href="team">Our Team</a></li>
                      <li><a href="pricing">Pricing Plan</a></li>
                      <li><a href="testimonials">Testimonials</a></li>
                      <li><a href="faq">FAQ</a></li>
                      <li><a href="404">404</a></li>
                    </ul>
                  </li>

                  {# Removed Blogs and Contact Us (link). Button stays on the right. #}
                </ul>
              </div>

            <div class="btn-area">
              <a href="contact" class="header-btn1">Contact Us <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--=====HEADER END =======-->

<!--===== MOBILE HEADER STARTS =======-->
<div class="mobile-header mobile-haeder1 d-block d-lg-none">
  <div class="container-fluid">
    <div class="col-12">
      <div class="mobile-header-elements">
        <div class="mobile-logo">
          <a href="index"><img src="/img/logo/logo1.png" alt=""></a>
        </div>
        <div class="mobile-nav-icon dots-menu">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-sidebar mobile-sidebar1">
  <div class="logosicon-area">
    <div class="logos">
      <img src="/img/logo/logo1.png" alt="">
    </div>
    <div class="menu-close">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>
  <div class="mobile-nav mobile-nav1">
    <ul class="mobile-nav-list nav-list1">
      <li><a href="index">Home</a></li>
      <li><a href="about">About</a></li>

      <li><a href="products">Products</a></li>

      <li><a href="#">Pages</a>
        <ul class="sub-menu">
          <li><a href="case">Case Study One</a></li>
          <li><a href="case-left">Case Study Left</a></li>
          <li><a href="case-right">Case Study Right</a></li>
          <li><a href="case-single">Case Study Single</a></li>
          <li><a href="team">Our Team</a></li>
          <li><a href="pricing">Pricing Plan</a></li>
          <li><a href="testimonials">Testimonials</a></li>
          <li><a href="faq">FAQ</a></li>
          <li><a href="404">404</a></li>
        </ul>
      </li>
      {# Removed Blogs menu and the Contact Us list item (button below remains). #}
    </ul>


    <div class="allmobilesection">
      <a href="contact" class="header-btn1">Get Started <i class="fa-solid fa-arrow-right"></i></a>
      <div class="single-footer">
          <div class="single-footer">
            <h3>Social Links</h3>
            <div class="social-links-mobile-menu">
              <ul>
                <li><a href="https://www.instagram.com/gate8bm/"><i class="fa-brands fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== MOBILE HEADER END =======-->