<!-- ===== FOOTER AREA STARTS ======= -->
<div class="footer1-section-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="footer-logo-content sp4">
          <div class="row align-items-start justify-content-between">
            
            <!-- ===== LEFT COLUMN (LOGO + DESCRIPTION) ===== -->
            <div class="col-lg-6 col-md-6">
              <div class="logo-content">
                <img src="/img/logo/logo1.png" alt="Gate Eight Logo" />
                <p>
                  We design, supply, and install premium interlocks, glazed tiles, roofing tiles,
                  skin rock & natural stones across the UAE. From consultation to handover,
                  we deliver durable surfaces with clean finishes on time.
                </p>
                <ul>
                  <li><a href="https://www.instagram.com/gateeightbm/"><i class="fa-brands fa-instagram"></i></a></li>
                  <li><a href="https://www.facebook.com/p/Gate-Eight-Trading-LLC-61575302306470/"><i class="fa-brands fa-facebook"></i></a></li>
                </ul>
              </div>
            </div>

            <!-- ===== RIGHT COLUMN (QUICK LINKS) ===== -->
            <div class="col-lg-4 col-md-6 text-end">
              <div class="service-heading right-links">
                <h2>Quick Links</h2>
                <ul>
                  <li><a href="index">Home</a></li>
                  <li><a href="about">About Us</a></li>
                  <li><a href="products">Products</a></li>
                  <li><a href="projects">Projects</a></li>
                  <li><a href="contact">Contact Us</a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>

        <div class="copyright">
          <p>
            © Copyright 2025 - Gate Eight Building Materials. All Right Reserved
            <br />
            <a href="https://kreativefolio.com/">Designed And Developed By Kreativefolio</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ===== FOOTER AREA ENDS ======= -->
