<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Current - Electricity Services</title>

<!-- =====FAB ICON======= -->
{% if logo4 is defined %}
  <link rel="shortcut icon" href="/img/logo/fav-log4.png" type="image/x-icon" />
{% elseif logo2 is defined %}
  <link rel="shortcut icon" href="/img/logo/fav-logo2.png" type="image/x-icon" />
{% elseif logo3 is defined %}
  <link rel="shortcut icon" href="/img/logo/fav-logo3.png" type="image/x-icon" />
{% else %}
  <link rel="shortcut icon" href="/img/logo/fav-icon1.png" type="image/x-icon" />
{% endif %}
