{% extends 'layouts/landing.html.twig' %}

{% block content %}
  <!-- ===== HERO AREA STARTS ======= -->
  <div class="hero1-section-area about-bg-area">
    <img src="/img/bg/header-img1.png" alt="" class="header-img1" />
    <div class="container">
      <div class="row">
        <div class="col-lg-7 m-auto">
          <div class="hero-heading-area heading1 text-center">
            <h1>Voltage Vision</h1>
            <a href="index" class="backline">Home <i class="fa-solid fa-angle-right"></i> Our Service <i class="fa-solid fa-angle-right"></i> <span>Voltage Vision</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== HERO AREA ENDS ======= -->

  <!-- ===== CASE STUDY AREA STARTS ======= -->
  <div class="service-leftside-area sp8">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="service-leftside">
            <div class="service-author-list">
              <h3>Other Case Studies</h3>
              <ul>
                <li>
                  <a href="#">Voltage Vision <i class="fa-solid fa-arrow-right"></i></a>
                </li>
                <li>
                  <a href="#">Power Grid Expansion <i class="fa-solid fa-arrow-right"></i></a>
                </li>
                <li>
                  <a href="#">Best Power and Progress <i class="fa-solid fa-arrow-right"></i></a>
                </li>
                <li>
                  <a href="#">Electrifying Results <i class="fa-solid fa-arrow-right"></i></a>
                </li>
                <li>
                  <a href="#">Voltage Wave Energy <i class="fa-solid fa-arrow-right"></i></a>
                </li>
              </ul>
            </div>

            <div class="tags-area">
              <h3>Our Tags</h3>
              <ul>
                <li>
                  <a href="#">Electricity</a>
                </li>
                <li>
                  <a href="#">Creative</a>
                </li>
                <li>
                  <a href="#">Design</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">Art</a>
                </li>
                <li>
                  <a href="#">Development</a>
                </li>
                <li>
                  <a href="#">Image</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">People</a>
                </li>
                <li>
                  <a href="#">Tech</a>
                </li>
                <li>
                  <a href="#">3D Images</a>
                </li>
              </ul>
            </div>

            <div class="helping-area">
              <h3>If You Need Any Help <br class="d-lg-block d-none" /> Contact With Us</h3>
              <div class="btn-area">
                <a href="tel:+917052101786" class="header-btn1"><i class="fa-solid fa-phone-volume"></i>+91 705 2101 786</a>
              </div>
            </div>

            <div class="social-icons">
              <h3>Follow Us</h3>
              <ul>
                <li>
                  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="service-rightside-area heading2">
            <div class="img1">
              <img src="/img/all-images/case-img16.png" alt="" />
            </div>
            <div class="space32"></div>
            <h3>Voltage Vision</h3>
            <p>Explore our electricity services through real-life success stories showcase our case studies. Each case study delves into the unique challenges faced by our clients and how our tailored solutions helped them overcome these obstacles.</p>
            <p>From residential homes to large-scale industrial projects, our case studies highlight diverse range of services we offer and the positive impact they have had on our</p>
            <div class="space16"></div>
            <h3>Experiences Tales of Energy Transformation</h3>
            <p>Dive into our case studies to see how we've delivered reliable, efficient, and innovative electricity solutions, empowering our clients to achieve their goals and drive progress in their communities lives and businesses</p>
            <p>Whether it's optimizing energy efficiency, integrating renewable energy sources enhancing grid resilience, our case studies showcase the tangible impact</p>
            <div class="space16"></div>
            <h3>Epics Stories of Sustainability</h3>
            <p>Embark on a journey of discovery with our electricity services through our collection of insightful case studies. Each case study unveils a unique narrative, depicting the challenges faced by our clients and the innovative solutions we provided</p>
            <p>Delve into these stories to witness firsthand how we have transformed challenges into opportunities, delivering reliable, efficient, and sustainable</p>
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6">
                <div class="space32"></div>
                <div class="img1">
                  <img src="/img/all-images/service-img14.png" alt="" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="space32"></div>
                <div class="img1">
                  <ul>
                    <li>
                      <img src="/img/icons/check4.svg" alt="" />Facers voluptatum meatus, volutes.
                    </li>
                    <li class="space16"></li>
                    <li>
                      <img src="/img/icons/check4.svg" alt="" />Habitant seeped corrupts fuse culpa.
                    </li>
                    <li class="space16"></li>
                    <li>
                      <img src="/img/icons/check4.svg" alt="" />Tempore Atenean debits, Atenean.
                    </li>
                    <li class="space16"></li>
                    <li>
                      <img src="/img/icons/check4.svg" alt="" />Quisqueya venerates fringillid bland.
                    </li>
                    <li class="space16"></li>
                    <li>
                      <img src="/img/icons/check4.svg" alt="" />Bibendum corrupts quake chillum.
                    </li>
                    <li class="space16"></li>
                    <li>
                      <img src="/img/icons/check4.svg" alt="" />Habitant seeped corrupts fuse culpa.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="space32"></div>
            <div class="faq-auhtor-area1">
              <div class="accordion accordion-flush active" id="accordionFlushExample">
                <div class="accordion-item" data-aos="fade-left" data-aos-duration="800">
                  <h2 class="accordion-header"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">How can I contact customer support if I have further questions?</button></h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      We're your trusted partner in all things electrical. From initial consultation to <br class="d-lg-block d-none" /> ongoing support, we're committed to providing you with the highest level
                    </div>
                  </div>
                </div>
                <div class="space20"></div>
                <div class="accordion-item" data-aos="fade-left" data-aos-duration="1000">
                  <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">Do you offer any discounts or promotions for new customers?</button></h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      We're your trusted partner in all things electrical. From initial consultation to <br class="d-lg-block d-none" /> ongoing support, we're committed to providing you with the highest level
                    </div>
                  </div>
                </div>
                <div class="space20"></div>
                <div class="accordion-item" data-aos="fade-left" data-aos-duration="1200">
                  <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">How long does it take to set up electricity services with your company?</button></h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      We're your trusted partner in all things electrical. From initial consultation to <br class="d-lg-block d-none" /> ongoing support, we're committed to providing you with the highest level
                    </div>
                  </div>
                </div>
                <div class="space20"></div>
                <div class="accordion-item" data-aos="fade-left" data-aos-duration="1400">
                  <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">Can I switch to your services if I'm already with another provider?</button></h2>
                  <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      We're your trusted partner in all things electrical. From initial consultation to <br class="d-lg-block d-none" /> ongoing support, we're committed to providing you with the highest level
                    </div>
                  </div>
                </div>
                <div class="space20"></div>
                <div class="accordion-item" data-aos="fade-left" data-aos-duration="1400">
                  <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">What happens if there's a power outage?</button></h2>
                  <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      We're your trusted partner in all things electrical. From initial consultation to <br class="d-lg-block d-none" /> ongoing support, we're committed to providing you with the highest level
                    </div>
                  </div>
                </div>
                <div class="space20"></div>
                <div class="accordion-item" data-aos="fade-left" data-aos-duration="800">
                  <h2 class="accordion-header"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">What types of electricity plans do you offer?</button></h2>
                  <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      We're your trusted partner in all things electrical. From initial consultation to <br class="d-lg-block d-none" /> ongoing support, we're committed to providing you with the highest level
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== CASE STUDY AREA ENDS ======= -->

  <!-- ===== CASE STUDY AREA STARTS ======= -->
  <div class="casestudy-inner-section-area sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <div class="casestudy-header heading2 text-center">
            <h2 class="tg-element-title">Read More Case Studies</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="case-author-boxarea">
            <div class="imges">
              <img src="/img/all-images/case-img1.png" alt="" />
            </div>
            <div class="case-content">
              <div class="text">
                <p>Electicity Solutions</p>
                <a href="case-single">Power Navigating</a>
              </div>
              <div class="icons">
                <a href="case-single"><span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="case-author-boxarea">
            <div class="imges">
              <img src="/img/all-images/case-img2.png" alt="" />
            </div>
            <div class="case-content">
              <div class="text">
                <p>Voltage Vision</p>
                <a href="case-single">Voltage Vision</a>
              </div>
              <div class="icons">
                <a href="case-single"><span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="case-author-boxarea">
            <div class="imges">
              <img src="/img/all-images/case-img3.png" alt="" />
            </div>
            <div class="case-content">
              <div class="text">
                <p>Wizard Unveiling</p>
                <a href="case-single">Wizard Unveiling</a>
              </div>
              <div class="icons">
                <a href="case-single"><span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== CASE STUDY AREA ENDS ======= -->
{% endblock %}
