{% extends 'layouts/landing.html.twig' %}

{% block content %}
  <!-- ===== HERO AREA STARTS ======= -->
  <div class="hero1-section-area about-bg-area">
    <img src="/img/bg/header-img1.png" alt="" class="header-img1" />
    <div class="container">
      <div class="row">
        <div class="col-lg-7 m-auto">
          <div class="hero-heading-area heading1 text-center">
            <h1>Case Studies</h1>
            <a href="index" class="backline">Home <i class="fa-solid fa-angle-right"></i><span>Case Studies</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== HERO AREA ENDS ======= -->

  <!-- ===== CASE STUDY AREA STARTS ======= -->
  <div class="casestudy-inner-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="case-author-boxarea">
            <div class="imges">
              <img src="/img/all-images/case-img1.png" alt="" />
            </div>
            <div class="case-content">
              <div class="text">
                <p>Electicity Solutions</p>
                <a href="case-single">Power Navigating</a>
              </div>
              <div class="icons">
                <a href="case-single"><span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="case-author-boxarea">
            <div class="imges">
              <img src="/img/all-images/case-img2.png" alt="" />
            </div>
            <div class="case-content">
              <div class="text">
                <p>Voltage Vision</p>
                <a href="case-single">Voltage Vision</a>
              </div>
              <div class="icons">
                <a href="case-single"><span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="case-author-boxarea">
            <div class="imges">
              <img src="/img/all-images/case-img3.png" alt="" />
            </div>
            <div class="case-content">
              <div class="text">
                <p>Wizard Unveiling</p>
                <a href="case-single">Wizard Unveiling</a>
              </div>
              <div class="icons">
                <a href="case-single"><span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="case-author-boxarea">
            <div class="imges">
              <img src="/img/all-images/case-img10.png" alt="" />
            </div>
            <div class="case-content">
              <div class="text">
                <p>Electicity Solutions</p>
                <a href="case-single">Current Chronicles</a>
              </div>
              <div class="icons">
                <a href="case-single"><span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="case-author-boxarea">
            <div class="imges">
              <img src="/img/all-images/case-img11.png" alt="" />
            </div>
            <div class="case-content">
              <div class="text">
                <p>Electicity Solutions</p>
                <a href="case-single">Bright Sparks</a>
              </div>
              <div class="icons">
                <a href="case-single"><span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="case-author-boxarea">
            <div class="imges">
              <img src="/img/all-images/case-img12.png" alt="" />
            </div>
            <div class="case-content">
              <div class="text">
                <p>Electicity Solutions</p>
                <a href="case-single">Electrical Endeavors</a>
              </div>
              <div class="icons">
                <a href="case-single"><span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="case-author-boxarea">
            <div class="imges">
              <img src="/img/all-images/case-img13.png" alt="" />
            </div>
            <div class="case-content">
              <div class="text">
                <p>Electicity Solutions</p>
                <a href="case-single">Power Portraits</a>
              </div>
              <div class="icons">
                <a href="case-single"><span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="case-author-boxarea">
            <div class="imges">
              <img src="/img/all-images/case-img14.png" alt="" />
            </div>
            <div class="case-content">
              <div class="text">
                <p>Electicity Solutions</p>
                <a href="case-single">Energy Evolution</a>
              </div>
              <div class="icons">
                <a href="case-single"><span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="case-author-boxarea">
            <div class="imges">
              <img src="/img/all-images/case-img15.png" alt="" />
            </div>
            <div class="case-content">
              <div class="text">
                <p>Electicity Solutions</p>
                <a href="case-single">Eco-Electric Epics</a>
              </div>
              <div class="icons">
                <a href="case-single"><span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="pagination-area">
            <div class="page">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous"><i class="fa-solid fa-angles-left"></i></a>
                </li>
                <li class="page-item">
                  <a class="page-link active" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next"><i class="fa-solid fa-angles-right"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== CASE STUDY AREA ENDS ======= -->
{% endblock %}
