{% extends 'layouts/landing.html.twig' %}

{% block content %}
  <!-- ===== HERO AREA STARTS ======= -->
  <div class="hero1-section-area about-bg-area">
    <img src="/img/bg/header-img1.jpg" alt="" class="header-img1" />
    <div class="container">
      <div class="row">
        <div class="col-lg-4 m-auto">
          <div class="hero-heading-area heading1 text-center">
            <h1>Our Products</h1>
            <a href="index" class="backline">Home <i class="fa-solid fa-angle-right"></i> <span>Our Products</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== HERO AREA ENDS ======= -->

  <!-- ===== SERVICE AREA STARTS ======= -->
  <div class="service1-section-area leftside sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="service-auhtor-boxarea">
            <div class="img1">
              <img src="/img/all-images/interlock-main.png" alt="" />
            </div>
            <div class="content-area">
              <h3>01</h3>
              <a href="interlock-pasco">Interlock Pasco</a>
              <p>Durable, stylish interlocks built for UAE driveways and pathways.</p>
              <a href="interlock-pasco" class="readmore">Learn More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="service-auhtor-boxarea">
            <div class="img1">
              <img src="/img/all-images/kerbstone-main.png" alt="" />
            </div>
            <div class="content-area">
              <h3>02</h3>
              <a href="kerbstone">Kerbstone</a>
              <p>Strong kerbstones offering clean edges and lasting road support.</p>
              <a href="kerbstone" class="readmore">Learn More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="service-auhtor-boxarea">
            <div class="img1">
              <img src="/img/all-images/washed-main.jpg" alt="" />
            </div>
            <div class="content-area">
              <h3>03</h3>
              <a href="washed-stone">Washed-Stone</a>
              <p>Natural, anti-slip stones perfect for villas, pools, and walkways.</p>
              <a href="washed-stone" class="readmore">Learn More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-auhtor-boxarea">
            <div class="img1">
              <img src="/img/all-images/terrazo-main.png" alt="" />
            </div>
            <div class="content-area">
              <h3>04</h3>
              <a href="terrazo">Terrazo</a>
              <p>Elegant terrazzo tiles combining style, strength, and easy care</p>
              <a href="terrazo" class="readmore">Learn More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="service-auhtor-boxarea">
            <div class="img1">
              <img src="/img/all-images/bricks-main.png" alt="" />
            </div>
            <div class="content-area">
              <h3>05</h3>
              <a href="bricks">Bricks</a>
              <p>High-quality bricks for walls, facades, and landscape projects.</p>
              <a href="bricks" class="readmore">Learn More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="service-auhtor-boxarea">
            <div class="img1">
              <img src="/img/all-images/glazed-main.png" alt="" />
            </div>
            <div class="content-area">
              <h3>06</h3>
              <a href="glaze-tile">Glaze Tile</a>
              <p>Glossy, water-resistant tiles for modern indoor and outdoor design.</p>
              <a href="glaze-tile" class="readmore">Learn More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-auhtor-boxarea">
            <div class="img1">
              <img src="/img/all-images/stone-main.png" alt="" />
            </div>
            <div class="content-area">
              <h3>07</h3>
              <a href="stone">Stone</a>
              <p>Premium natural stones for elegant walls, facades, and landscapes.</p>
              <a href="stone" class="readmore">Learn More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="service-auhtor-boxarea">
            <div class="img1">
              <img src="/img/all-images/skin-main.png" alt="" />
            </div>
            <div class="content-area">
              <h3>08</h3>
              <a href="skin-rock">Skin Rock</a>
              <p>Lightweight decorative skin rock for modern villa and exterior cladding.</p>
              <a href="skin-rock" class="readmore">Learn More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="service-auhtor-boxarea">
            <div class="img1">
              <img src="/img/all-images/roof-main.png" alt="" />
            </div>
            <div class="content-area">
              <h3>09</h3>
              <a href="skin-rock">Roofing Tiles</a>
              <p>Durable, weather-resistant tiles designed for elegant UAE rooftops.</p>
              <a href="skin-rock" class="readmore">Learn More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        {# <div class="col-lg-12">
          <div class="pagination-area">
            <div class="page">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous"><i class="fa-solid fa-angles-left"></i></a>
                </li>
                <li class="page-item">
                  <a class="page-link active" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next"><i class="fa-solid fa-angles-right"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div> #}
      </div>
    </div>
  </div>
  <!-- ===== SERVICE AREA ENDS ======= -->
{% endblock %}
