{% extends 'layouts/landing.html.twig' %}

{% block content %}
  <!-- ===== HERO AREA STARTS ======= -->
  <div class="hero1-section-area about-bg-area">
    <img src="/img/bg/header-img1.png" alt="" class="header-img1" />
    <div class="container">
      <div class="row">
        <div class="col-lg-4 m-auto">
          <div class="hero-heading-area heading1 text-center">
            <h1>Our Team</h1>
            <a href="index" class="backline">Home <i class="fa-solid fa-angle-right"></i> <span>Our Team</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== HERO AREA ENDS ======= -->

  <!-- ===== TEAM AREA STARTS ======= -->
  <div class="team1-section-area sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="team-auhtor-boxarea">
            <div class="images">
              <img src="/img/all-images/team-img1.png" alt="" />
              <div class="team-social-area">
                <div class="icons">
                  <a href="#" class="plus"><i class="fa-solid fa-plus"></i></a>
                  <ul>
                    <li>
                      <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="content-area">
              <a href="team">Shoaib Bashir</a>
              <p>Sales Manager</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="team-auhtor-boxarea">
            <div class="images">
              <img src="/img/all-images/team-img2.png" alt="" />
              <div class="team-social-area">
                <div class="icons">
                  <a href="#" class="plus"><i class="fa-solid fa-plus"></i></a>
                  <ul>
                    <li>
                      <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="content-area">
              <a href="team">William Thompson</a>
              <p>Product Manager</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="team-auhtor-boxarea">
            <div class="images">
              <img src="/img/all-images/team-img3.png" alt="" />
              <div class="team-social-area">
                <div class="icons">
                  <a href="#" class="plus"><i class="fa-solid fa-plus"></i></a>
                  <ul>
                    <li>
                      <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="content-area">
              <a href="team">Reece Toply</a>
              <p>Team Leader</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="team-auhtor-boxarea">
            <div class="images">
              <img src="/img/all-images/team-img4.png" alt="" />
              <div class="team-social-area">
                <div class="icons">
                  <a href="#" class="plus"><i class="fa-solid fa-plus"></i></a>
                  <ul>
                    <li>
                      <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="content-area">
              <a href="team">Robert Anderson</a>
              <p>Sales Manager</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="team-auhtor-boxarea">
            <div class="images">
              <img src="/img/all-images/team-img8.png" alt="" />
              <div class="team-social-area">
                <div class="icons">
                  <a href="#" class="plus"><i class="fa-solid fa-plus"></i></a>
                  <ul>
                    <li>
                      <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="content-area">
              <a href="team">Pat Cummins</a>
              <p>Sales Manager</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="team-auhtor-boxarea">
            <div class="images">
              <img src="/img/all-images/team-img9.png" alt="" />
              <div class="team-social-area">
                <div class="icons">
                  <a href="#" class="plus"><i class="fa-solid fa-plus"></i></a>
                  <ul>
                    <li>
                      <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="content-area">
              <a href="team">Mahika Gaur</a>
              <p>Product Manager</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="team-auhtor-boxarea">
            <div class="images">
              <img src="/img/all-images/team-img10.png" alt="" />
              <div class="team-social-area">
                <div class="icons">
                  <a href="#" class="plus"><i class="fa-solid fa-plus"></i></a>
                  <ul>
                    <li>
                      <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="content-area">
              <a href="team">Tim David</a>
              <p>Sales Manager</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="team-auhtor-boxarea">
            <div class="images">
              <img src="/img/all-images/team-img11.png" alt="" />
              <div class="team-social-area">
                <div class="icons">
                  <a href="#" class="plus"><i class="fa-solid fa-plus"></i></a>
                  <ul>
                    <li>
                      <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="content-area">
              <a href="team">Jonny Bairstow</a>
              <p>Team Leader</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="team-auhtor-boxarea">
            <div class="images">
              <img src="/img/all-images/team-img12.png" alt="" />
              <div class="team-social-area">
                <div class="icons">
                  <a href="#" class="plus"><i class="fa-solid fa-plus"></i></a>
                  <ul>
                    <li>
                      <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="content-area">
              <a href="team">Ben Duckett</a>
              <p>Product Manager</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="team-auhtor-boxarea">
            <div class="images">
              <img src="/img/all-images/team-img13.png" alt="" />
              <div class="team-social-area">
                <div class="icons">
                  <a href="#" class="plus"><i class="fa-solid fa-plus"></i></a>
                  <ul>
                    <li>
                      <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="content-area">
              <a href="team">Sophia Dunkley</a>
              <p>Sales Manager</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="team-auhtor-boxarea">
            <div class="images">
              <img src="/img/all-images/team-img14.png" alt="" />
              <div class="team-social-area">
                <div class="icons">
                  <a href="#" class="plus"><i class="fa-solid fa-plus"></i></a>
                  <ul>
                    <li>
                      <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="content-area">
              <a href="team">Matthew Potts</a>
              <p>Sales Manager</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="team-auhtor-boxarea">
            <div class="images">
              <img src="/img/all-images/team-img15.png" alt="" />
              <div class="team-social-area">
                <div class="icons">
                  <a href="#" class="plus"><i class="fa-solid fa-plus"></i></a>
                  <ul>
                    <li>
                      <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="content-area">
              <a href="team">George Scrimshaw</a>
              <p>Team Leader</p>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="pagination-area">
            <div class="page">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous"><i class="fa-solid fa-angles-left"></i></a>
                </li>
                <li class="page-item">
                  <a class="page-link active" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next"><i class="fa-solid fa-angles-right"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== TEAM AREA ENDS ======= -->
{% endblock %}
